@font-face {
  font-family: ralewayBold;
  src: url(fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: raleway;
  src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: MPlus1p;
    src: url(fonts/MPLUS1p-Thin.ttf);
}
@font-face {
    font-family: MPlus1pRegular;
    src: url(fonts/MPLUS1p-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(27, 27, 27);
}
h1{
    font-family: raleway;
}
.view3d{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    touch-action: none;
}
.nadpis{
    position: relative;
    top: 90vh;
}
.card{
    position: relative;
    top: 85vh;
    width: calc(100% - 40px);
    left: 20px;
    border-radius: 20px;
    background-color: white;
    height: 400px;
    h1{
        //text-align: center;
        font-size: 60px;
        padding-top: 60px;
        padding-left: 70px;
        
    }
    .nameSection{
        position: relative;
        margin: 50px;
        .avatar{
            position: relative;
            top: 50px;
            width: 170px;
            height: 170px;
            border-radius: 100px;
            background-color: aquamarine;
        }
    }
}
.sections{
    position: relative;
    top: 85vh;
}
.vfxSection{
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .headingSection{
        width: 90vw;
        height: 150px;
        h1{
            font-size: 70px;
            font-family: "MPlus1p", sans-serif;
            font-weight: 100;
            font-style: normal;
            color: rgb(204, 204, 204);
            .faded{
                opacity: 0.5;
                font-size: 60px;
            }
        }
    }
    .videoContainer{
        position: relative;
        width: 90vw;
        height: 40vw;
        background-color: orange;
        .video-js{
            width: 100%;
            height: 100%;
        }
    }
    .informationContainer{
        position: relative;
        top: 0px;
        width: 90vw;
        height: 400px;
        background-color: rgb(105, 79, 30);
    }
}
.assetsSection{
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .headingSection{
        width: 90vw;
        height: 150px;
        h1{
            font-size: 70px;
            font-family: "MPlus1p", sans-serif;
            font-weight: 100;
            font-style: normal;
            color: rgb(204, 204, 204);
            .faded{
                opacity: 0.5;
                font-size: 60px;
            }
        }
    }
    .assetsContainer{
        position: relative;
        width: 90vw;
        height: 400px;
        background-color: rgb(207, 205, 101);
        border-radius: 25px;
    }
}
.threejsSection{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .headingSection{
        width: 90vw;
        height: 150px;
        h1{
            font-size: 70px;
            font-family: "MPlus1p", sans-serif;
            font-weight: 100;
            font-style: normal;
            color: rgb(204, 204, 204);
            .faded{
                opacity: 0.5;
                font-size: 60px;
            }
        }
    }
    .threejsContainer{
        position: relative;
        width: 90vw;
        height: 400px;
        background-color: rgb(207, 205, 101);
        border-radius: 25px;
    }
}
.unitySection{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .headingSection{
        width: 90vw;
        height: 150px;
        h1{
            font-size: 70px;
            font-family: "MPlus1p", sans-serif;
            font-weight: 100;
            font-style: normal;
            color: rgb(204, 204, 204);
            .faded{
                opacity: 0.5;
                font-size: 60px;
            }
        }
    }
    .unityContainer{
        position: relative;
        width: 90vw;
        height: 400px;
        background-color: rgb(207, 205, 101);
        border-radius: 25px;
    }
}
.footer{
    position: relative;
    top: 50px;
    width: 100%;
    height: 300px;
    background-color: rgb(227, 231, 234);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    h1{
        padding: 0;
        font-size: 70px;
        font-weight: 100;
        font-family: MPlus1p;
        display: inline-block;
        margin-left: 40px;
        padding-top: 50px;
    
    }
}

.logoImg{
    position: absolute;
    top: 120px;
    left: 70px;
    width: 200px;
    height: 100px;
    background-image: url('./img/fravojLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.smallBottomLogo{
    position: absolute;
    top: calc( 100vh - 250px);
    right: 70px;
    width: 260px;
    height: 150px;
    background-image: url('./img/smallLogoBottom.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.button{
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    text-align: center;
    font-family: ralewayBold;
    padding-top: 12px;
    .outline{
        position: relative;
        top: 6px;
        left: 6px;
        width: calc( 100% - 15px );
        height:  25px;
        border: solid 2px white;
        border-radius: 5px;
    }
}
.black{
    background-color:rgb(27, 27, 27);
    color: white;
}
.headingBox{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    top: calc(60vh - 100px);
    font-size: 12vw;
    font-family: MPlus1pRegular;
    font-weight: 300;
    text-align: center;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track {
width: 10px;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background: white; 
    border-radius: 2px;
}
    
